html,
body {
  margin: 0;
  padding: 0;
}

.nav {
  text-align: center;
}

.navLink {
  margin: 10px;
  font-size: 1.2em;
}

.title {
  text-align: center;
}

.para {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.1em;
}

.table {
  margin: auto;
}
